@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind&family=Prompt:wght@100;500&display=swap');

$nav-font: 'Prompt', sans-serif;
$font-clr: rgb(165, 62, 206);
$content-f: 'Hind', sans-serif;
$hvr-clr: rgba(44, 43, 43, .7); 

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}