@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind&family=Prompt:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind&family=Prompt:wght@100;500&display=swap");
:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}

:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0px 0px 6px #a53ece;
  }
  50% {
    text-shadow: 0px 0px 12px #a53ece;
  }
  75% {
    text-shadow: 0px 0px 6px #a53ece;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0px 0px 6px #a53ece;
  }
  50% {
    text-shadow: 0px 0px 12px #a53ece;
  }
  75% {
    text-shadow: 0px 0px 6px #a53ece;
  }
  100% {
    text-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-moz-selection {
  color: rgba(44, 43, 43, 0.7);
  background: #fff;
}

::selection {
  color: rgba(44, 43, 43, 0.7);
  background: #fff;
}

.main_heading {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 43, 43, 0.7)), to(rgba(44, 43, 43, 0.7))), url("https://images2.alphacoders.com/437/thumb-1920-437818.jpg");
  background-image: linear-gradient(rgba(44, 43, 43, 0.7), rgba(44, 43, 43, 0.7)), url("https://images2.alphacoders.com/437/thumb-1920-437818.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_heading .navigation {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_heading nav {
  width: 80%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.main_heading nav .nav_menu {
  display: none;
  width: 70rem;
  height: auto;
  position: relative;
}

.main_heading nav .nav_menu a {
  float: right;
  font-size: 3rem;
  right: 0%;
  color: #fff;
}

.main_heading nav .nav_menu ul {
  display: none;
  position: absolute;
  text-align: center;
  top: 20%;
  right: 20%;
}

.main_heading nav .nav_menu ul li {
  font-size: 1.5rem;
  border: 1px solid rgba(44, 43, 43, 0.7);
  display: block;
  padding: 1rem 1rem;
}

.main_heading nav img {
  width: 12rem;
  height: 12rem;
}

.main_heading nav ul {
  list-style-type: none;
  display: inline;
  padding: 1rem .5rem;
}

.main_heading nav ul li {
  display: inline;
  font-size: 2.2rem;
  padding: 3rem 1.5rem;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main_heading nav ul li:hover {
  background-color: rgba(44, 43, 43, 0.7);
}

.main_heading .content {
  width: 80%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main_heading .content h1 {
  font-size: 5rem;
  font-family: "Hind", sans-serif;
  font-weight: lighter;
  color: #fff;
}

.main_heading .content h1 span {
  color: #a53ece;
  -webkit-animation: glow 1.5s linear infinite;
          animation: glow 1.5s linear infinite;
}

.main_heading .content #f-btn {
  font-size: 3rem;
  color: #a53ece;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  letter-spacing: .2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0 2rem;
  border: 0.3rem solid #a53ece;
  border-radius: 36px;
  margin-right: 5rem;
}

.main_heading .content #f-btn:hover {
  background-color: #a53ece;
  color: rgba(44, 43, 43, 0.7);
}

.main_heading .content #l-btn {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  letter-spacing: .2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0 2rem;
  border: .3rem solid #fff;
  border-radius: 36px;
  margin-right: 5rem;
}

.main_heading .content #l-btn:hover {
  background-color: #fff;
  color: rgba(44, 43, 43, 0.7);
}

.main_heading .content footer {
  width: 100%;
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Prompt", sans-serif;
  color: rgba(253, 251, 251, 0.4);
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .main_heading nav {
    width: 90%;
  }
  .main_heading nav img {
    height: 9rem;
    width: 9rem;
  }
  .main_heading nav ul li {
    font-size: 2rem;
  }
  .main_heading .content h1 {
    font-size: 3rem;
  }
  .main_heading .content .btns #f-btn {
    font-size: 2rem;
    margin-right: 2rem;
    padding: .1rem .5rem;
  }
  .main_heading .content .btns #l-btn {
    font-size: 2rem;
    padding: .1rem .5rem;
  }
}

@media screen and (max-width: 600px) {
  .main_heading nav {
    width: 95%;
    height: 10vh;
  }
  .main_heading nav img {
    height: 9rem;
    width: 9rem;
  }
  .main_heading nav ul li {
    visibility: hidden;
  }
  .main_heading nav .nav_menu {
    display: block;
  }
  .main_heading nav .nav_menu ul li {
    visibility: visible;
  }
  .main_heading .content {
    width: 95%;
  }
  .main_heading .content h1 {
    font-size: 2.5rem;
  }
  .main_heading .content .btns #f-btn {
    font-size: 1.5rem;
  }
  .main_heading .content .btns #l-btn {
    font-size: 1.5rem;
  }
  .main_heading footer {
    position: relative;
    padding-bottom: .5rem;
  }
  .main_heading footer p {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .content .btns {
    width: 55%;
    display: -ms-grid;
    display: grid;
  }
  .content .btns a {
    width: 100%;
    margin: .5rem 0rem;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */